/* Encabezado */
header {
    background-color: #A2D2FF; /* Color de fondo azul claro */
    height: 10%; /* 10% de la página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #555;
}
